@model IEnumerable<StudentConnectAdmin.Data.JobTypePercent>
@{
    ViewBag.Title = "Statistics"; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
@(Html.Telerik().Chart()
      .Name("pieChart")
      .Title("Types of Interest shown")
      .Legend(legend => legend
          .Position(ChartLegendPosition.Bottom)
      )
      .Series(series => {
          series.Pie("Percentage", "Source");
      })
      .HtmlAttributes(new { style = "width: 500px; height: 400px;" })
)

</div>
