@using StudentConnectAdmin.Utils
@{ ViewBag.Title = "Student Connect Admin"; }
<div >
     @if (Roles.IsUserInRole("Admin"))
     {
		@(Html.Telerik().Menu().Name("menu")
            .Items(menu =>
            {
                menu.Add().Text("Student Submissions").Action("Index", "Home");
                menu.Add().Text("Statistics").Action("Index", "Statistics");
                menu.Add().Text("Logout").Action("Logout", "Account");
            }))
     }
         <h1>@Model</h1> 
       
</div>
