@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
     @{ Html.RenderPartial("_Header", (string)ViewBag.Title); }
     <h2>Student Submissions</h2>
     <p> Following are all the submissions from student connect portal
     </p>
     <div>
        
     </div>
</div>
